<div class="item-box" id="#emp_nome#">
    <div class="item-img">
        <img src="#HOME#/tim.php?src=#HOME#/uploads/#emp_img#&w=350" alt="#emp_img#">
    </div>
    <div class="item-info">
        <h2>#emp_titulo#</h2>
        <div>#emp_conteudo#</div>        
    </div>
</div>