<div  id="#post_nome#" data-target="#post_nome#" class="cestas-box">
    <h2>#post_titulo#</h2>
    <div class="item">
        <div class="item-img">
            <img src="#HOME#/tim.php?src=#HOME#/uploads/#post_img#&w=400" alt="#post_img#">
            <h2>R$ #post_valor#,00</h2>
        </div>
        <div class="item-info">
            <div>#post_conteudo#</div>
        </div>
    </div>
  
    <div class="item-dicas">
        #post_dicas#
    </div>
    
    <a class="btn-comprar btn btn-azul" href="#HOME#/pedido/#post_nome#">Comprar</a>
</div>