* {box-sizing: border-box;}

body{font-family: 'Open Sans', sans-serif; color: #666; width: 100%; margin: 0 auto;}
body.login{background: #eaeaea;}
body.painel{background-color: #eaeaea;}

/*BOTÕES*/
.btn{padding: 10px 22px;  background: #505050; text-transform: uppercase; font-weight: bold; width: 300px; cursor: pointer; font-size: 0.8em; color: #fff;}
.btn:hover{ background: #ccc;}
.blue{background: #505050; border-color: #33752c}
.blue:hover{background: #398431; border-color: #33752c;}
.green{background: #33752c; border-color: #1f471a}
.green:hover{background: #4aaa40; border-color: #398431;}


/*MENSAGENS DO SISTEMA*/
.trigger{padding: 15px 15px 15px 40px; background: #eee; font-size: 14px; margin-bottom: 15px;}
.trigger a{font-weight: 600; font-size: 12px; text-transform: uppercase; padding: 5px 15px; background: #505050; color: #fff;}
.trigger a:hover{background: #09f; color: #fff;}

.accept{background: #71ca73 url(../icons/accept.png) center left 10px no-repeat}
.infor{background:  #c8dbfd url(../icons/infor.png) center left 10px no-repeat}
.alert{background:  #faf7b7 url(../icons/alert.png) center left 10px no-repeat}
.error{background:  #ffafaf url(../icons/error.png) center left 10px no-repeat}

/*CAIXAS DE IMAGEM*/
.thumb_small{width: 120px; height: 70px; border: 1px solid #ccc; text-align: center;}
.thumb_emp{width: 120px; height: 60px; background:  url(../images/logo.png) center center no-repeat; background-size: 70%; border: 1px solid #ccc;}
.thumb_medium{width: 200px; height: 116px; background:  url(../images/logo.png) center center no-repeat; background-size: 70%; border: 1px solid #ccc;}

/*APENAS TELA DE LOGIN*/
#login{width: 100%;}
#login .boxin{ width: 95%; background: #ccc; margin: 0 auto; padding: 10px;}
#login .boxin h1{color: #505050; font-size: 30px; text-transform: uppercase; font-weight: 600; border-bottom: 5px solid;}
#login .boxin h1{margin-bottom: 15px; padding-bottom: 5px; text-align: center;}
#login form label{display: block; margin-bottom: 15px;}
#login form label span{display: block; margin-bottom: 5px;}
#login form label input{width: 100%; padding: 10px; font-size: 18px; border: none;}
#login form .btn{margin-top: 10px; margin: 10px auto ; width: 100%;}

/*PAINEL ADMIN*/
/*#navadmin{width: 100%; height: 100px; background-color: #ccc;}*/ 

/*NAV SYSTEM*/
#navadmin .systema_nav{padding: 20px; background: #505050; display: flex; flex-direction: row; justify-content: space-between;}
#navadmin .systema_nav li{}
#navadmin .systema_nav li a{float: left; margin: 0 15px; width: 30px; height: 30px; font-size: 0;}
#navadmin .systema_nav li .logout{background: url(../icons/logout.png) center center no-repeat;}
#navadmin .systema_nav .username{margin: 5px 15px; font-variant: small-caps; color: #fff;}

/*MENU CENTRAL*/
.container-painel {background-color: #fff; display: flex; flex-direction: column; justify-content: space-between; width: 100%;}
.container-painel .informacoes {flex: 1; width: 100%;}


.icones{ margin-top: 25px;}
.icones .link {display: flex; flex-direction: row; width: 100%; border-bottom: 2px solid #ccc; margin-bottom: 5px; padding: 5px; font-size: 10px;}
.icones .link:hover {text-decoration: none;}
.icones .link.active {background-color: #505050; color: #fff !important;}
.icones .link.active h4 {color: #fff;}
.icones .link span {flex: 1; padding: 5px;}
.icones .link h4 {flex: 4; color: #505050; font-size: 14px;}
.icones .link p {flex: 4; color: #505050;}


/*GERAL CONTENT*/
#painel{width: 100%; padding: 5px;}

/*BOX GERAL*/
.boxtitle{font-size: 18px; color: #505050; font-weight: 400; border-bottom: 2px solid; margin-bottom: 10px; padding-bottom: 5px;}
.boxsubtitle{font-size: 16px; color: #444; font-weight: 400; margin-bottom: 10px; text-align: center;}
.boxaside{padding: 10px; background: #eee; margin-bottom: 20px;}
.boxaside:last-child{margin: 0;}

/*HOME PAINEL*/
/*Estatísticas*/
.home {display: flex; flex-direction: column; justify-content: space-between; align-items: center; align-content: center; width: 100%;}
.home section { width: 100%; margin-top: 10px; padding: 5px;}
/* LISTA DE POSTS */

.table {font-size: 12px; width: 100%;}
.table tr td ul li a {height: 12px; width: 12px; padding: 0; margin: 0;}


/*FORM CADASTRO*/
/*.form_create {display: flex; flex-direction: column; align-items: center;}
.form_create form {padding: 10px; display: flex; flex-direction: column; margin-bottom: 10px; width: 100%;}
.form_create form label, .form_create form label_line {margin-bottom: 10px;}
.form_create form label .field {color: #333; display: block; margin-bottom: 5px; text-align: left; font-size: 14px;}
.form_create form label input,
.form_create form label select,
.form_create form label textarea{padding: 10px; border: 2px solid #ccc; width: 100%; font-size: 14px; font-weight: initial; color: #333;}
.form_create form .label_line {display: flex; justify-content: space-between;}
.form_create form .label_line .label_small {width: 100%; padding: 0 10px;}

.form_create form div label_small input,
.form_create form div label_small select,
.form_create form div label_small textarea{padding: 10px; border: 5px solid #ccc; width: 90%; font-size: 18px; font-weight: initial; color: #333;}


.form_create form .btn{margin: 10px auto;}*/


.cadastrar {}
.formularios {display: flex; flex-wrap: wrap; width: 100%; justify-content: space-between; align-items: stretch; flex-direction: column;}
.formularios .cadastro-form {flex: 1; width: 100%; margin: 10px auto;}
.formularios .cadastro-form .login h1 {background-color: #45a6af; width: 100%; text-align: center; padding: 10px; color: #fff;}
.formularios .cadastro-form .login .pedido_conteudo {margin: 50px auto;}
.formularios .cadastro-form .login .pedido_conteudo p {text-align: center; line-height: 25px;}
.formularios .cadastro-form .cadastro-form-box {padding: 20px; background: #fff;}
.formularios .cadastro-form .cadastro-form-box .label {display: flex; flex-direction: column; margin-bottom: 20px;}
.formularios .cadastro-form .cadastro-form-box .label span {color: #333; text-align: left; font-size: 2em;}


.form-espac { margin: 5px 10px; padding: 20px 10px; font-size: 1.5em;}
.form {padding-bottom: 30px; height: 50px;}
