<div class="item" id="#emp_nome#" data-target="#emp_nome#">
    <div class="item-img">
        <img src="#HOME#/tim.php?src=#HOME#/uploads/#emp_img#&w=400" alt="#emp_img#">
        <h2>#emp_titulo#</h2>
    </div>
    <div class="item-info">
        <h3>#emp_subtitulo#</h3>
        <div>#emp_conteudo#</div>
    </div>
</div>