<div  id="#post_nome#" data-target="#post_nome#">
    <h4>#post_titulo#</h4>
    <div class="item">
        <div class="item-img">
            <img src="#HOME#/tim.php?src=#HOME#/uploads/#post_img#&w=400" alt="#post_img#">
        </div>
        <div class="item-info">
            <div>#post_conteudo#</div>
        </div>
    </div>
    <div class="item-dicas">
        #post_dicas#
    </div>
</div>