.container-box {max-width: 1100px; margin: 0 auto; display: flex; flex-direction: column; align-items: center; background-color: #fff;}

.titulo {margin: 40px auto 20px auto; text-align: center; font-weight: 500;}
.titulo:first-letter{text-transform: uppercase;}


/*#######################*/ 
/*        MENU           */
/*#######################*/
.menu { margin: 0 auto;  padding: 20px 5px; width: 100%; height: 100px; background: #fff; position: fixed; top: 0; z-index: 1;}
/*#menu-superior {position: fixed; top: 0; width: 100%; height: 100px; z-index: 1; background-color: #fff;}*/
.menu .menu-mobile {display: flex; justify-content: space-between; align-items: center; margin: 0 auto; flex-wrap: wrap; align-content: center; max-width: 1100px; }
.menu .menu-mobile .logo {flex: 1 1 200px; font-size: 0;  position: relative; max-width: 200px; margin: 5px auto;}
.menu .menu-mobile .logo img {width: 200px; margin: 0 auto; display: block;}
.menu .menu-mobile .risquinhos {flex: 1 1 36px; max-width: 50px; display: none;}
.menu .menu-mobile .risquinhos span{ width: 36px;}
.menu .menu-mobile .menu-nav {flex: 4 1 750px; max-width: 750px;}
.menu .menu-mobile .menu-nav ul {display: flex; justify-content: flex-end; margin: 5px auto;}
.menu .menu-mobile .menu-nav ul .icones {margin:0 2px;}
.menu .menu-mobile .menu-nav ul .icones .link-menu {padding: 10px; color: #56df96; transition: .3s; margin: 0 10px; width: 150px; display: block; text-align: center; border: 2px solid; font-size: 16px; border-radius: 40px;}
.menu .menu-mobile .menu-nav ul .icones .link-menu:hover {border: 1px solid; background-color: #fff;; color: #56df96; transition: .3s;}

.menu .menu-mobile .user-item {flex: 1 1 80px; max-width: 80px; margin: 5px auto;}

.user-item {width: 50px; height: 50px; position: relative; }
.user-item label {width: 50px; height: 50px; padding: 10px;cursor: pointer; margin: 0; display: block; margin: 2px auto; transition: all linear .5s;}
.user-item label img {display: block; width: 100%;}
.user-item label:hover { transition: all linear .5s}
.user-item ul {position: absolute; display: block; top: 80px; right: 0px;width: 150px;background-color: #fff; max-height: 0; overflow: hidden; transition: all linear .6s;}
/*.user-item ul li {padding: 10px 15px; margin-bottom: 2px; color: #fff; border-bottom: 2px solid; display: block;}*/
.user-item ul li a {color: #333; background: #fff; display: block; border-bottom: 2px solid; padding: 15px 60px 15px 5px;}
.user-item ul li a:hover{color: #56df96; }
.user-item input:checked ~ ul{max-height: 400px; transform: all;}
.user-item input {display: none;}

.user-color {width: 50px; height: 50px; position: relative; }
.user-color label {width: 50px; height: 50px; padding: 10px;cursor: pointer; margin: 0; display: block; margin: 2px auto; transition: all linear .5s;}
.user-color label img {display: block; width: 100%;}
.user-color label:hover { transition: all linear .5s}
.user-color ul {position: absolute; display: block; top: 80px; right: 0px;width: 150px; background-color: #fff; max-height: 0; overflow: hidden; transition: all linear .6s;}
/*.user-item ul li {padding: 10px 15px; margin-bottom: 2px; color: #fff; border-bottom: 2px solid; display: block;}*/
.user-color ul li a {color: #333; display: block; padding: 10px 15px;}
.user-color input:checked ~ ul{max-height: 400px; transform: all;}
.user-color input {display: none;}

.estilo01:hover {background: #528dd4; color: #fff;}
.estilo02:hover {background: #56df96; color: #fff;}
.estilo03:hover {background: #ff9900; color: #fff;}
.estilo04:hover {background: #a3bd00; color: #fff;}
.estilo05:hover {background: #efef00; color: #fff;}

/*.icones a.active{border: 2px solid #56df96; background-color: #56df96; color: #fff !important; transition: .3s;}
.icones a.active:hover {background: #fff !important; color: #56df96 !important; border: 2px solid;}*/


.espacamento {margin-bottom: 110px;}
.voltar_topo {width: 50px; height: 50px; position: fixed; bottom: 50px; right: 10px; font-size: 0; cursor: pointer; opacity: 0.3; transition: .5s;}
.voltar_topo:hover {opacity: 1;}
.voltar_topo a.ocultar {display: none;}


/*#######################*/ 
/*     Cabeçalho         */
/*#######################*/

.cabecalho {display: flex; flex-wrap: wrap; justify-content: space-between; margin: 5px auto 0 auto; background: #56df96; color: #fff; max-width: 1100px;}
.cabecalho .info-contato {flex: 1; display: flex; flex-wrap: wrap; justify-content: space-between; padding: 5px; width: 100%; }
.cabecalho .info-contato .info-contato-caixa {flex: 1 1 350px; max-width: 350px; margin: 0 auto; display: flex; justify-content: space-around; align-items: center; width: 100%;}
.cabecalho .info-contato .info-contato-caixa .info-contato-img {flex: 1; display: flex; align-items: center; justify-content: center;}
.cabecalho .info-contato .info-contato-caixa .info-contato-info {flex: 3;}
.cabecalho .info-contato .info-contato-caixa .info-contato-info p {color: #fff; margin: 0;}
.cabecalho .info-contato .info-contato-caixa .info-contato-info span {font-weight: bold; font-size: 1.2em;}

/*#######################*/ 
/*        Slide          */
/*#######################*/
.container-slide {background: #333;}

/*.introducao {background: #adb387; position: relative;}*/
.introducao img {display: block; margin: 0 auto; max-width: 100%;}

.introducao a h2 {text-transform: uppercase; background: #56df96; color: #fff; position: absolute; padding: 20px; bottom: 20px; right: 20px;}

.slide {position: relative; overflow: hidden;}
.slide > * {width: 100%;position: absolute; opacity: 0;transition: .5s;}
.slide > .active {position: relative; opacity: 1; transition: all cubic-bezier}


/*#######################*/
/*      QUEM SOMOS       */
/*#######################*/
.quem-somos {background: #56df96; color: #fff;}
.quem-somos .item {display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;}
.quem-somos .item .item-box {flex: 1 1 350px; width: 100%; max-width: 350px; margin: 0 auto; display: flex; flex-direction: column; padding: 10px; padding-bottom: 50px; border: 1px solid transparent; transition: .6s;}
.quem-somos .item .item-box:hover {border: 1px solid #fff;}
.quem-somos .item .item-box .item-img {margin: 0 auto; width: 100%; padding: 5px;}
.quem-somos .item .item-box .item-img img {width: 100%; opacity: 0.7; transition: .3s;}
.quem-somos .item .item-box .item-img img:hover {opacity: 1;}
.quem-somos .item .item-box .item-info {padding: 5px;}
.quem-somos .item .item-box .item-info h2 {text-align: center; font-size: 1.8em; margin: 20px auto;}
.quem-somos .item .item-box .item-info div {text-indent: 20px;}
.quem-somos .item .item-box .item-info div p {text-align: justify;}




/*#######################*/ 
/*      CONTATO          */
/*#######################*/
.contato-container {display: flex; flex-direction: row; width: 100%; flex-wrap: wrap; justify-content: space-between; padding: 10px;}
.contato-container .contato-form {flex: 1 1 700px; width: 100%; max-width: 700px; margin: 0 auto; padding: 20px; background: #fff;}
.contato-container .contato-detalhes {flex: 1 1 300px; width: 100%; max-width: 300px; margin: 0 auto; padding: 20px; background: #fff;}
.contato-container .contato-detalhes .contato-info {display: flex; margin-top: 20px;}
.contato-container .contato-detalhes .contato-info span {flex: 1;}
.contato-container .contato-detalhes .contato-info p {flex: 6;}


/*#######################*/ 
/*      FOOTER           */
/*#######################*/
footer {width: 100%; margin: 0; padding: 0; background-color: #56df96; padding-top: 50px; display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end;}
footer h3 {color: #fff; margin-bottom: 20px; }
footer .footer {flex: 1; width: 100%; margin: 0 auto; display: flex; flex-wrap: wrap; max-width: 1100px;}
footer .footer .footer-item {flex: 1 1 300px; max-width: 300px; margin: 10px auto; padding: 10px; }
footer .footer .footer-item h3 {color: #333;}
footer .footer .footer-item ul li {margin: 10px;}
footer .footer .footer-item ul li a {display: block; padding: 5px; color: #333; font-size: 1.2em;}
footer .footer .footer-item ul li a span {width: 20px; height: 20px;}
footer .footer .footer-item ul li a:hover {background-color: #f3f9e9;}
footer .footer .footer-item ul li a span img {width: 20px; margin-right: 10px;}

footer .footer .footer-item .footer-img {display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 10px; width: 100%; align-content: center;}
footer .footer .footer-item .footer-img img {margin-bottom: 20px;}



/*#######################*/ 
/*      NEWSLETTER       */
/*#######################*/
footer .footer .newsletter {flex: 1 1 300px; display: flex; flex-direction: column;align-items: center; padding: 10px; width: 300px;}
footer .footer .newsletter form {display: flex; flex-direction: column; align-items: flex-end; width: 100%;}
footer .footer .newsletter form input {width: 100%; padding: 10px; margin: 5px auto; }
/*footer .newsletter form input[type='submit'] {width: 50%;}*/

footer .designerBy {flex: 1; padding-top: 20px; color: #333;}
footer .designerBy a{ color: #333;}

/*#######################*/ 
/*       LOGIN           */
/*#######################*/
.cadastrar {}
.cadastrar .formularios {display: flex; flex-wrap: wrap; width: 100%; justify-content: space-between; align-items: stretch; flex-direction: row;}
.cadastrar .formularios .cadastro-form {flex: 2 1 600px; max-width: 600px; width: 100%; margin: 10px auto;}
.cadastrar .formularios .cadastro-form .login h1 {background-color: #45a6af; width: 100%; text-align: center; padding: 10px; color: #fff;}
.cadastrar .formularios .cadastro-form .login .pedido_conteudo {margin: 50px auto;}
.cadastrar .formularios .cadastro-form .login .pedido_conteudo p {text-align: center; line-height: 25px;}
.cadastrar .formularios .cadastro-form .cadastro-form-box {padding: 20px; background: #fff;}
.cadastrar .formularios .cadastro-form .cadastro-form-box h3 {margin-bottom: 2px; font-size: 1.5em;}
.cadastrar .formularios .cadastro-form .cadastro-form-box .form-linha {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; width: 100%;}
.cadastrar .formularios .cadastro-form .cadastro-form-box .form-linha .um {flex: 1 1 200px; width: 200px;}
.cadastrar .formularios .cadastro-form .cadastro-form-box .form-linha .dois {flex: 1 1 450px; width: 450px;}
.cadastrar .formularios .cadastro-form .cadastro-form-box .form-linha .tres {flex: 1 1 750px; width: 700px;}
.cadastrar .formularios .cadastro-form .cadastro-form-box .form-linha .quatro {flex: 1 1 750px; width: 1000px;}

.cadastrar .formularios .info-form {flex: 1 1 350px; max-width: 350px; width: 100%; background-color: #fff; margin: 10px auto;}
.cadastrar .formularios .info-form .info-box {padding: 20px;}

.form-espac { margin: 5px 10px; padding: 10px;}

.g-recaptcha {padding: 10px;}


/*#######################*/ 
/*     MINHA ÁREA        */
/*#######################*/
.minhaarea {display: flex; flex-direction: column; justify-content: space-around;}
.minhaarea h2 {padding: 10px; width: 100%; text-align: center; background: #56df96; color: #fff; margin-bottom: 20px;}
.minhaarea .minhaarea-box {display: flex; flex-wrap: wrap; width: 100%; justify-content: space-between;}
.minhaarea .minhaarea-box .minhaarea-info {flex: 3; width: 100%; background: #fff; padding: 10px;}


.procurar {padding-bottom: 20px; border-bottom: 1px solid #f6f6f6; width: 100%;}
.procurar .procurar-box {display: flex; flex-direction: row;}
.procurar .procurar-box div {flex: 1 1 300px; max-width: 300px; width: 100%; margin: 10px auto;}
.procurar .procurar-box div label {width: 100%; text-align: center; font-size: 1.3em; padding: 10px; color: #333;}
.procurar .procurar-box div form {}
.procurar .procurar-box div form input {border: none; border-bottom: 2px solid #505050; padding: 10px; width: 250px; float: left; height: 50px;}
.procurar .procurar-box div form .search {border-bottom: 2px solid #505050; width: 40px; font-size: 0; background:  url(../img/search.png) center center no-repeat; height: 50px;}

/*#######################*/ 
/*       @media          */
/*#######################*/

@media only screen and (max-width: 1100px) {
    .sobre-home {display:none;}
    .menu { }
    .menu-mobile {display: flex; flex-wrap: wrap; width: 100%; justify-content: flex-start; }
    .menu-mobile .logo {flex: 1 1 70px; width: 70px; margin: 0 auto;}
    .menu .menu-mobile .risquinhos {display: block;}
    .menu-mobile .user-item { width: 60px; margin: 0 auto; }
    
    .mobile-btn {
        flex: 1;
        display: block;
        color: #56df96;
        border-top: 4px solid;
        width: 36px;
        height: 36px;
        position: relative;
        margin: 20px 20px 0 5px ;
        cursor: pointer;
        float: right;
        -webkit-backface-visibility: hidden;
    }
    .mobile-btn::after, .mobile-btn::before {
        content: '';
        display: block;
        height: 4px;
        margin-top: 6px;
        background-color: currentColor;
        position: relative;
        transition: transform 3s easy;
    }
    .mobile-btn.active {
        border-top-color: transparent;
    }
    .mobile-btn.active::after {
        margin-top: 0;
        top: 2px;
        transform: rotate(45deg);
        transition: .3s;
    }
    .mobile-btn.active::before {
        margin-top: 0;
        top: 6px;
        transform: rotate(-45deg);
        transition: .3s;
    }
    
    .menu-nav.mobile-menu{
        z-index: 2;
        position: fixed;
        background-color: #fff;
        padding: 10px;
        left: 0;
        top: 100px;
        opacity: 0;
        visibility: hidden;
        transform: translate3d(60px, 0px, 0px);
        transition: .3s;
        
    }

    .menu-nav.mobile-menu.active{
        opacity: 1;
        visibility: visible;
        transform: translate3d(0px, 0px, 0px);
    }
    .menu-nav.mobile-menu ul {
        display: flex; 
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
        padding-right: 100px;
        
    }

    .menu-nav.mobile-menu ul li {
    margin: 5px !important;    
    }
    
    .menu-nav.mobile-menu ul li a {
        display: block; 
        width: 100%; 
        margin: 10px auto; 
        border-bottom: 2px solid #806c64;
        color: #fff;
    }

    .menu-nav.mobile-menu ul li a:hover {
        color: #fff; 
        border: 2px solid
    }
    
    .logo {max-width: 50px; }
    .logo img {max-width: 100%;}
    .user-color {display: none;}
    .user-item {display: none;}
    .introducao a h2 {font-size: 1em; padding: 5px;}
}
@media screen and (max-width: 428px) {
    .introducao h2 {font-size: 1.5em; margin-top: -1.8em; padding: 10px;}
}
@media only screen and (max-width: 970px) {

}

.trigger {background: #000; color: #fff !important; padding: 20px; text-align: center;}