html, body { height: 100%; background-color: #e6e6e6; color: #333333;}

*{ margin: 0; padding: 0; box-sizing: border-box;}

*:focus{outline:none;}

a{text-decoration: none;}
a:hover{text-decoration: none;}
a img{border:none;}
strong, b{font-weight: bold;}

.btn { border: 2px solid #333; color: #fff; background-color: #333;}
.btn:hover {color: #f6f6f6; background: #505050;}


p {font-size: 14px; line-height: 21px; text-align: left;}

ul{list-style: none; }

.radius{
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}

.shadow{
    -moz-box-shadow:2px 2px 5px 1px #ccc;
    -webkit-box-shadow:2px 2px 5px 1px #ccc;
    box-shadow: 2px 2px 5px 1px #ccc;
}

.clear{clear:both;}

h1, h2, h3, h4, h5, h6, p, span, a { font-family: 'Roboto Condensed', sans-serif;}

.erro {background: #fff; margin: 20px auto; padding: 50px;}
.erro h1 {text-align: center; font-size: 10em; letter-spacing: 10px; padding: 50px; color: #333;}
.erro h2 {text-align: center;}
.erro a {border: 2px solid; color: #fff; border-radius: 40px; padding: 20px; background: #333; display: block; margin: 0 auto; text-align: center; width: 200px; margin-top: 50px;}

.modelo {border-bottom: 2px solid #333;}
.modelo:hover {background: #ccc;}