/* 
    Document   : admin css
    Author     : LG Marmoraria
    Description:
        Formata o painel admin do site LG Marmoraria.
*/

body{font-family: 'Open Sans', sans-serif; color: #666; width: 1200px; margin: 0 auto;}
body.login{background: #eaeaea;}
body.painel{background-color: #eaeaea;}

/*BOTÕES*/
.btn{padding: 010px 22px;  background: #505050; text-transform: uppercase; font-weight: bold; width: 300px;}
.btn{cursor: pointer; font-size: 0.8em; color: #fff;}
.blue{background: #505050; border-color: #33752c}
.blue:hover{background: #398431; border-color: #33752c;}
.green{background: #33752c; border-color: #1f471a}
.green:hover{background: #4aaa40; border-color: #398431;}


/*MENSAGENS DO SISTEMA*/
.trigger{padding: 15px 15px 15px 40px; background: #eee; font-size: 14px; margin-bottom: 15px;}
.trigger a{font-weight: 600; font-size: 12px; text-transform: uppercase; padding: 5px 15px; background: #505050; color: #fff;}
.trigger a:hover{background: #09f; color: #fff;}

.accept{background: #71ca73 url(../icons/accept.png) center left 10px no-repeat}
.infor{background:  #c8dbfd url(../icons/infor.png) center left 10px no-repeat}
.alert{background:  #faf7b7 url(../icons/alert.png) center left 10px no-repeat}
.error{background:  #ffafaf url(../icons/error.png) center left 10px no-repeat}

/*CAIXAS DE IMAGEM*/
.thumb_small{width: 120px; height: 70px; border: 1px solid #ccc; text-align: center;}
.thumb_emp{width: 120px; height: 60px; background:  url(../images/logo.png) center center no-repeat; background-size: 70%; border: 1px solid #ccc;}
.thumb_medium{width: 200px; height: 116px; background:  url(../images/logo.png) center center no-repeat; background-size: 70%; border: 1px solid #ccc;}

/*APENAS TELA DE LOGIN*/
#login{width: 100%;}
#login .boxin{position: absolute; width: 400px; min-height: 300px; background: #ccc; left: 50%; top: 50%;}
#login .boxin{padding: 20px 20px 10px; margin-left: -181px; margin-top: -170px;}
#login .boxin h1{color: #505050; font-size: 30px; text-transform: uppercase; font-weight: 600; border-bottom: 5px solid;}
#login .boxin h1{margin-bottom: 15px; padding-bottom: 5px; text-align: center;}
#login form label{display: block; margin-bottom: 15px;}
#login form label span{display: block; margin-bottom: 5px;}
#login form label input{width: 100%; padding: 10px; font-size: 18px; border: none;}
#login form .btn{margin-top: 10px; margin: 10px auto ; width: 100%;}

/*PAINEL ADMIN*/
#navadmin{width: 100%; height: 100px; position: relative; background-color: #ccc;} 
#navadmin .content{width: 968px; display: block; margin: 0 auto;}
#navadmin .content img {max-height: 100px; padding: 10px;}
#navadmin .logomarca{float: left; font-size: 0; width: 200px; height: 60px; margin-top:20px; background: url(../images/logo.png) no-repeat;}

/*NAV SYSTEM*/
#navadmin .systema_nav{float: right; padding: 20px 5px 10px; background: #505050; position: relative; top: -10px}
#navadmin .systema_nav li{float: left;}
#navadmin .systema_nav li a{float: left; margin: 0 15px; width: 30px; height: 30px; font-size: 0;}
#navadmin .systema_nav li a:hover{background-color: #505050;}
#navadmin .systema_nav li .profile{background: url(../icons/profile.png) center center no-repeat;}
#navadmin .systema_nav li .users{background: url(../icons/users.png) center center no-repeat;}
#navadmin .systema_nav li .logout{background: url(../icons/logout.png) center center no-repeat;}
#navadmin .systema_nav li .icon{background-size: 80%;}
#navadmin .systema_nav .username{margin: 5px 15px; float: left; font-variant: small-caps; color: #fff;}

.navegacao-topo {border-bottom: 2px solid #505050; display: flex; flex-direction: column; justify-content: space-between; margin-bottom: 20px; margin-top: 30px; padding-bottom: 30px;}
.navegacao-topo h1 {text-align: center;}
.navegacao-topo ul {display: flex; justify-content: space-around;}
.navegacao-topo ul li a{border: 2px solid #505050; padding: 5px 30px;}
.navegacao-topo ul li a.active {background-color: #505050; color: #fff !important;}

/*MENU CENTRAL*/
.container-painel {background-color: #fff; display: flex; flex-direction: row; justify-content: space-between; width: 100%; }
.container-painel .navegacao {flex: 1 1 230px; width: 100%;  max-width: 230px; margin-right: 5px; padding-right: 2px; border-right: 4px solid #505050;}
.container-painel .navegacao .menu {padding: 5px;}
.container-painel .navegacao .menu h1 {text-align: center; border: 2px solid #505050; padding: 10px;}
.container-painel .navegacao .menu h1 a {color: #505050;}
.container-painel .informacoes {flex: 3 1 950px; width: 100%; max-width: 950px;}


.icones{ margin-top: 25px;}
.icones .link {display: flex; flex-direction: row; width: 100%; border-bottom: 2px solid #ccc; margin-bottom: 5px; padding: 5px; font-size: 10px;}
.icones .link:hover {text-decoration: none;}
.icones .link.active {background-color: #505050; color: #fff !important;}
.icones .link.active h4 {color: #fff;}
.icones .link span {flex: 1; padding: 5px;}
.icones .link h4 {flex: 4; color: #505050; font-size: 14px;}
.icones .link p {flex: 4; color: #505050;}


/*GERAL CONTENT*/
#painel{width: 100%; padding: 30px 0 30px;}
#painel .content{width: 968px; margin: 0 auto;}
/*#painel .notfound{min-height: 320px;}*/

/*BOX GERAL*/
.boxtitle{font-size: 18px; color: #505050; font-weight: 400; border-bottom: 2px solid; margin-bottom: 10px; padding-bottom: 5px;}
.boxsubtitle{font-size: 16px; color: #444; font-weight: 400; margin-bottom: 10px;}
.boxaside{padding: 10px; background: #eee; margin-bottom: 20px;}
.boxaside:last-child{margin: 0;}

/*HOME PAINEL*/
/*Estatísticas*/
.home {display: flex; justify-content: space-between; align-items: stretch;}
.home aside{flex: 1; padding: 10px;}
.home aside .sitecontent ul{ font-size: 12px;}
.home aside .sitecontent ul li{background: #fff; padding: 15px 0 15px 40px; margin-bottom: 10px;}
.home aside .sitecontent ul li:last-child{margin: 0;}
.home aside .sitecontent ul .line{padding: 1px 20px; background: #ccc;}
.home aside .sitecontent ul .view{background: #fff url(../icons/e_view.png) left 10px center no-repeat;}
.home aside .sitecontent ul .user{background: #fff url(../icons/e_user.png) left 10px center no-repeat;}
.home aside .sitecontent ul .page{background: #fff url(../icons/e_page.png) left 10px center no-repeat;}
.home aside .sitecontent ul .post{background: #fff url(../icons/e_post.png) left 10px center no-repeat;}
.home aside .sitecontent ul .emp{background: #fff url(../icons/e_emp.png) left 10px center no-repeat;}
.home aside .sitecontent ul .comm{background: #fff url(../icons/e_comm.png) left 10px center no-repeat;}

/*Navegadores*/
.home aside .useragent ul{float: left; font-size: 12px; padding: 20px; background: #fff;}
.home aside .useragent ul li{float:left; width:258px; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px dotted #333;}
.home aside .useragent ul li:last-child{margin: 0; padding: 0; border: none;}
.home aside .useragent ul li strong{font-size: 16px;}
.home aside .useragent ul li span{background: #09f; display: block; padding: 10px 0; margin: 5px 0;}

.home .content_statistics {flex: 3; padding: 10px;}

/* LISTA DE POSTS */
.conteudo_lista {display: flex; flex-direction: column; margin-top: 10px;}
.conteudo_lista section {}

.titulo_da_coluna {display: flex; justify-content: space-between; margin-bottom: 10px;}
.titulo_da_coluna div {flex: 1;}
.titulo_da_coluna p {font-weight: bold; margin-top: 10px; flex:4;}

.detalhes {border-bottom: 2px solid #505050; display: flex;  align-items: center; margin-bottom: 5px; justify-content: space-between;}
.detalhes .img  img{flex: 1; margin: 10px ; width: 50px;}
.detalhes h4 {flex: 1;  text-align: left;}
.detalhes p {flex: 4; font-size: 0.875em; text-align: left;}
.detalhes .post_actions {flex: 1;}
.detalhes .sub_titulo {display: flex; justify-content: space-between;}


/*ICONES DE EDIÇÃO DOS ARTIGOS */
.post_actions{font-size: 12px; display: flex; }
.post_actions a{background: #ccc; text-transform: uppercase; font-size: 10px; color: #333; width: 25px; height: 25px; float: left; font-size: 0; margin: 5px 10px;}
.post_actions a:hover{background-color: #09f; color: #fff;}
.post_actions .act_view{background: #eee url(../icons/act_view.png) center center no-repeat;}
.post_actions .act_edit{background: #eee url(../icons/act_edit.png) center center no-repeat;}
.post_actions .act_ative{background: #eee url(../icons/act_ative.png) center center no-repeat;}
.post_actions .act_inative{background: #eee url(../icons/act_inative.png) center center no-repeat;}
.post_actions .act_delete{background: #eee url(../icons/act_delete.png) center center no-repeat;}





/*FORM CADASTRO*/
.form_create {display: flex; flex-direction: column;}
.form_create form {padding: 10px; display: flex; flex-direction: column; margin-bottom: 20px;}
.form_create form label, .form_create form label_line {margin-bottom: 20px;}
.form_create form label .field {color: #333; display: block; margin-bottom: 5px; font-weight: 600; text-align: left; font-size: 18px;}
.form_create form label input,
.form_create form label select,
.form_create form label textarea{padding: 10px; border: 5px solid #ccc; width: 100%; font-size: 18px; font-weight: initial; color: #333;}
.form_create form .label_line {display: flex; justify-content: space-between;}
.form_create form .label_line .label_small {width: 100%; padding: 0 10px;}

.form_create form div label_small input,
.form_create form div label_small select,
.form_create form div label_small textarea{padding: 10px; border: 5px solid #ccc; width: 90%; font-size: 18px; font-weight: initial; color: #333;}


.form_create article form .btn{margin-top: 5px; margin-right: 15px;}

/*GALERIA*/
.gbform{padding: 20px 20px 5px; margin: 10px 0 20px; background: #fbfbfb; float: left; width: 890px}
.gbform input{width: 860px;}
.gbform .thumb_small{width: 146px; height: 100px}
.gbform .right{margin-right: 0;}
.gallery{width: 890px; float: left;}
.gallery li{float:left; padding: 10px; margin: 0 15px 15px 0; background: #fff; position: relative;}
.gallery li .del{position: absolute; background: #900; right: 10px; bottom: 10px; width: 20px; height: 20px;}
.gallery li .del{text-transform: uppercase; color: #fff; font-size: 0; background: url(../icons/logout.png) center center no-repeat; background-size: 80%;}
.gallery li .del:hover{background-color: red}


/* TABELA DE LISTA DOS USUÁRIOS REGISTRADOS*/
.conteudo {flex: 2; background-color:#f6f6f6; width: 100%;display: flex; justify-content: space-between; flex-direction: column;}

.conteudo .conteudo-tabela{ width: 95%;}
.conteudo img {height: 20px;}
.conteudo .acao { display: flex; justify-content: space-between;}
.conteudo .acao a{margin: 5px;}
.conteudo .acao a:hover {cursor: pointer}
.acao {display: flex; justify-content: space-around;}
.action{width: 30px; height: 30px; display: block; font-size: 0;}
.user_edit{background: url(../icons/act_edit.png) center center no-repeat; border: 1px solid #ccc;}
.user_dele{background: url(../icons/act_delete.png) center center no-repeat; border: 1px solid #ccc;}
.user_menu {display: flex; justify-content: space-between; align-items: center;}




/*LISTA CONTENT*/
.list_content h1{margin-bottom: 10px;}
.list_content article{padding: 20px; background: #fff; margin-bottom: 20px; float: left; width: 434px; min-height: 76px;}
.list_content article .img{float: left; margin-right: 15px;}
.list_content article h1{font-size: 14px;}
.list_content article h1 a{color: #505050;}
.list_content article h1 a:hover{text-decoration: underline;}

/*LISTA CATEGORIAS*/
.cat_list .lista_geral {display: flex; flex-direction: column; padding-top: 20px;}

.cat_list .lista_geral h1{margin-bottom: 10px;}
.cat_list .lista_geral .container_categorias {padding: 20px 20px 0; margin-bottom: 30px; background: #fff; border-bottom: 20px solid #505050; display: flex; flex-direction: column;}
.cat_list .lista_geral .container_categorias header {display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between; }
.cat_list .lista_geral .container_categorias header h1 {font-size: 20px; margin: 0 !important; font-weight: bold; text-transform: uppercase; color: #00254A}
.cat_list .lista_geral .container_categorias header .sub_titulo {display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100%; padding-top: 10px; }

.cat_list .lista_geral .container_categorias .container_sub {padding: 10px; display: flex; flex-direction: column;}
.cat_list .lista_geral .container_categorias .container_sub .icones {display: flex; justify-content: space-between; border-bottom: 5px solid #fff; margin: 0px; padding: 0 0 5px 0; background-color: #eaeaea;}
.cat_list .lista_geral .container_categorias .container_sub .icones h4 {}


/*EMPRESAS*/
.list_emp article h1{margin: 0;}
.list_emp article h2{margin: 0; font-size: 12px; text-transform: uppercase; margin-bottom: 3px;}
.list_emp article h2 a{color: #666; font-weight: bold;}
.list_emp article h2 a:hover{text-decoration: underline;}

/*PAGINATOR*/
.paginator{padding: 10px; background: #fff; text-align: center}
.paginator li{display: inline;}
.paginator a, .paginator span{margin: 0 5px; padding: 3px 8px; font-size: 14px; color: #333; font-weight: 600}
.paginator a:hover{background: #09f; color: #fff;}
.paginator .active{background: #333; color: #fff;}


/*FOOTER GERAL*/
.main_footer{background: #505050; width: 100%; padding: 30px 0; text-align: center; border-top: 2px solid;}
.main_footer a{font-size: 0px; color: #fff; font-variant: small-caps;}
.main_footer a:hover{text-decoration: underline;}

.box-documentos {display: flex; justify-content: space-between; width: 100%;}
.box-documentos article {flex: 1 1 200px; background: #efefef;}
.box-documentos section {flex: 3 1 700px; margin-top: 20px;}


.navegacao-user {margin-top: 20px; margin-right: 5px;}
/*.navegacao-user h1 {text-align: center; border-bottom: 2px solid #ccc; text-transform: uppercase; margin-bottom: 10px; margin-right: 10px;}*/
.navegacao-user div {display: flex; flex-direction: column;}
.navegacao-user div a{color: #505050; border: 2px solid; margin: 5px; width: 90%; padding-top: 10px; padding-bottom: 10px; padding-left: 10px;}
.navegacao-user div a:hover {text-decoration: none;}
.navegacao-user div a.active {background-color: #505050; color: #fff !important;}

.conteudo_lista_menu {display: flex; justify-content: space-between; margin-bottom: 5px; border: 2px solid }

.pesquisa {flex:1 1 350px; max-width: 350px; margin: 5px auto;}
.pesquisa .fls{float: left; border: 2px solid #ccc; width: 200px; height: 30px;}
.pesquisa .btn{width: 30px; height: 30px; background: url('../images/search.png') center center no-repeat; cursor: pointer;}
.pesquisa .btn:hover{background-color: #000;}

.filtro-pesquisa {flex:1 1 350px; max-width: 350px; margin: 5px auto; }
.filtro-pesquisa form {}
.filtro-pesquisa input {padding: 10px; margin: 2px;}

.conteudo-individual {margin-top: 40px; margin-right: 20px;}

.table {font-size: 12px}
.table tr td ul li a {height: 12px; width: 12px; padding: 0; margin: 0;}